<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="myApp">

    <div ng-controller="MyController">
        <input type="text" ng-model="empName" />
        <p>Super Star 1: {{empName}}</p>
    </div>

    <div ng-controller="MyController2">
        <input type="text" ng-model="empName" />
        <p>Super Star 2: {{empName}}</p>
    </div>

    <script src="../angular.js"></script>
        <script type="text/javascript">

            //优化 链式调用
            angular.module('myApp',[])
            .controller('MyController', function($scope){
                $scope.empName = 'Kobe';   //这里必须用$scope 而不能用this.
            })
            .controller('MyController2', function($scope){
                $scope.empName = 'Wade';   //这里必须用$scope 而不能用this.
            })
        </script>

    
</body>
</html>